node_modules/
.env
# Logs
weetime-4763db2adbbf.json
study.pem
ubuntu@ec2-54-183-226-175.us-west-1.compute.amazonaws.com
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.vercel
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?